:root {
    --animation-duration-1: 1s;
    --animation-delay-05: 0.5s;
}

/* Animação de fade-in para o cabeçalho */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header,
html {
    animation-name: fade-in;
    animation-duration: var(--animation-duration-1);
    animation-fill-mode: both;
    animation-delay: var(--animation-delay-05);
}

/* Animação de slide-in para o menu */
@keyframes slide-in {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar ul {
    animation-name: slide-in;
    animation-duration: var(--animation-duration-1);
    animation-fill-mode: both;
}

/* Animação de zoom-in para as seções */
@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.section-intro,
.section-imagens,
.section-content {
    animation-name: zoom-in;
    animation-duration: var(--animation-duration-1);
    animation-fill-mode: both;
    animation-delay: var(--animation-delay-05);
}

/* Animação de fade-in para os benefícios */
@keyframes fade-in-benefits {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* Animação de slide-up para o rodapé */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação de slide-in para os itens do menu */
@keyframes slide-in-menu {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu-item {
    animation-name: slide-in-menu;
    animation-duration: var(--animation-duration-1);
    animation-fill-mode: both;
    animation-delay: var(--animation-delay-05);
}

/* Animação de fade-in para os títulos das seções */
@keyframes fade-in-title {
    0% {
        opacity: 0;
        transform: translateY(-320px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-intro h1,
.section-content h2 {
    animation-name: fade-in-title;
    animation-duration: var(--animation-duration-1);
    animation-fill-mode: both;
}

/* Animação de zoom-in para as imagens das seções */
@keyframes zoom-in-image {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.section-imagens .imagem {
    animation-name: zoom-in-image;
    animation-duration: var(--animation-duration-1);
    animation-fill-mode: both;
    animation-delay: var(--animation-delay-05);
}

/* Animação de fade-in para os parágrafos das seções */
@keyframes fade-in-paragraph {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animation {
    animation-duration: var(--animation-duration);
    animation-fill-mode: both;
    animation-delay: var(--animation-delay);
}

.fade-in {
    animation: fade-in var(--animation-duration) both;
}

.slide-in {
    animation: slide-in var(--animation-duration) both;
}

.zoom-in {
    animation: zoom-in var(--animation-duration) both;
}

.carrosel {
    width: 600px;
    height: 250px;
    outline: 3px solid black;
    overflow: hidden;
    margin: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.carrosel ul {
    display: flex;
    list-style: none;
    width: 1800px;
    height: 250px;
}

.carrosel ul li img {
    width: 600px;
    height: 250px;
    pointer-events: none;
}

.carrosel li {
    position: relative;
    animation: slide 25s infinite ease-out;
    background-color: black;
}

@media (max-width: 600px) {
    .carrosel ul li img {
        width: 200px;
        height: 200px;
    }

    .carrosel ul {
        width: 800px;
        height: 250px;
    }

    .carrosel {
        width: 200px;
        height: 200px;
    }

    .carrosel li {
        position: relative;
        animation: slideMobile 25s infinite ease-out;
    }
}

@keyframes slide {
    0% {

        left: 0px;
    }

    20% {
        left: 0px;
    }

    25% {
        left: -600px;
    }

    45% {
        left: -600px;
    }

    50% {
        left: -1200px;
    }

    70% {
        left: -1200px;
    }

    75% {
        left: -1800px;
    }

    95% {
        left: -1800px;
    }

    100% {
        left: 0px;
    }
}

@keyframes slideMobile {
    0% {

        left: 0px;
    }

    20% {

        left: 0px;
    }

    25% {

        left: -200px;
    }

    45% {

        left: -200px;
    }

    50% {

        left: -400px;
    }

    70% {

        left: -400px;
    }

    75% {

        left: -600px;
    }

    95% {

        left: -600px;
    }

    100% {

        left: 0px;
    }
}