.section {
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
}

.section:last-child {
    border-bottom: none;
}


.section p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.parallax-inner {
    position: relative;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: red;
}

.parallax1 {
    background-image: url('../imagens/foto10.JPG');
    background-color: red;
}

.parallax2 {
    background-image: url('../imagens/foto11.JPG');
}

.parallax3 {
    background-image: url('../imagens/foto9.JPG');
}

.parallax4 {
    background-image: url('../imagens/foto12.JPG');
}

.parallax-inner p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}