.intro {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 10px, 0.1);
    border: 1px solid black;
    margin: 0 10%;
    background-color: rgba(255, 255, 255, 0);
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 10px;
}

.intro ul.resume {
    text-align: left;
    margin-top: 20px;
    padding-left: 40px;
}

.intro li {
    margin-bottom: 10px;
}

.intro .about-me {
    margin-top: 30px;
    text-align: left;
    font-style: italic;
}

/* Estilos adicionais */
.intro .highlight {
    background-color: blue;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.intro .emphasis {

    font-weight: bold;
}

.intro .intro-image {
    margin-top: 30px;
}

.intro .intro-image img {
    max-width: 100%;
    border-radius: 5px;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
    .intro {
        padding: 20px;
    }

    .intro h1 {
        font-size: 24px;
    }

    .intro p {
        font-size: 16px;
    }

    .intro ul {
        padding-left: 20px;
    }
}

/* Estilos para telas ainda menores */
@media screen and (max-width: 480px) {
    .intro {
        padding: 10px;
        margin: 0;
    }

    .intro h1 {
        font-size: 20px;
    }

    .intro p {
        font-size: 14px;
    }
}