@media screen and (max-width: 899.5008px) {
  header.header ul.nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .check {
    top: 2.3rem;
    left: 20%;
  }

  .header ul li a.active {
    pointer-events: none;
    color: gray;
  }

  .section-intro h1 {
    font-size: 36px;
  }

  .section-intro p {
    font-size: 16px;
  }

  .benefit {
    width: calc(100% - 20px);
  }

}

@media screen and (max-width: 480px) {
  .section-intro h1 {
    font-size: 28px;
  }

  .section-intro p {
    font-size: 14px;
  }
}



@media screen and (max-width: 1250px) {
  body .sink .faucets {
    left: 46vw !important;
  }
}

@media screen and (max-width: 300px) {

  .sink-div {
    height: 0;
    width: 0;
    padding: 0 !important;
  }

  body.dark-mode .sink .faucets {
    opacity: 0;
    height: 0px;
    width: 0px;
  }

  body.dark-mode .sink {
    opacity: 0;
    height: 0px !important;
    width: 0px !important;
  }

  .sink .faucets div.sinks {
    height: 0px;
    width: 0px;
  }

  a.benefit {
    padding-right: 10px;
    padding-left: 10px;
  }

}



@media screen and (min-width: 1350px) {
  body .sink .faucets {
    left: 49vw !important;
  }
}

@media screen and (min-width: 3400px) {
  body .sink .faucets {
    left: 50vw !important;
  }
}

@media screen and (max-width: 650px) {
  header div.main {
    margin-top: 55px;
  }




  .header .mobile-btn:checked~.mobile-icon .hamburguer:before {
    transform: translateX(-39px) translateY(190px);
    width: 50px;
    pointer-events: none;
  }

  .header .mobile-btn:checked~.mobile-icon .hamburguer2:before {
    transform: translateX(-8px) translateY(140px);
    width: 25px;
    pointer-events: none;
  }



  .header .mobile-btn:checked~.mobile-icon .hamburguer:after {
    transform: translateX(-60px) translateY(240px);
    width: 68px;
    pointer-events: none;
  }

  .header .mobile-btn:checked~div.agrinho-info {
    display: block;
    position: absolute;
    top: 130px;
    border-right: 1px solid white;
  }

}

@media screen and (max-width: 400px) {
  .footer-menu {
    display: none;
  }

  div p span.hide {
    display: none;
  }

  .modal_item p {
    margin-bottom: 40px;
  }

}

.logo img {
  width: 60px;
  height: 60px;
}

@media only screen and (max-width: 360px) {
  .logo img {
    width: 30px;
    height: 30px;
  }

  .logo {
    width: 30px !important;
    height: 30px !important;
  }

}

@media only screen and (max-width: 1100px) {

  .logo h1 {
    font-size: 20px;
  }

  .menu {
    flex-direction: column;
  }

  .menu-item {
    margin-right: 0;
    margin-bottom: 10px;
    background-color: black;
  }

}

@media (max-width: 750px) {
  .modal_item {
    width: 100%;
    max-height: 70vh;
    overflow: auto;
  }

  .hide_img {
    width: 100%;
    height: 250px;
  }



  .hide_img .slides {
    width: 100%;
    height: 250px;
  }

  .hide_img .slides .slide {
    width: 100%;
    height: 250px;
  }

}

@media screen and (max-width: 200px) {
  .hide_img {
    display: none;
  }

}

@media screen and (max-width: 605px) {

  div.description p.mobileText2 {
    display: none;
  }
}


@media screen and (max-width: 400px) {

  div.description p.mobileText {
    display: none;
  }

  .septic-tank .label.inlet-label {
    left: -9.8px;
  }

  .septic-tank .inlet-pipe {
    left: 0px;
  }

  .septic-tank .label.outlet-label {
    right: -5px;
  }

  .septic-tank div.label {
    padding-right: 0px;
    padding-left: 0px;
  }

  .septic-tank .outlet-pipe {
    right: 0px;
  }

  div.septic-tank {
    width: 90%;
    height: 524px;
    border: 0px !important;
  }

  .septic-tank:after,
  .septic-tank:before {
    border: 0px !important;
    display: none;
  }
}

@media screen and (max-width: 290px) {
  div div.pipe1 {
    left: 21vw;
  }

  div div.pipe2 {
    left: -9vw;
  }
}

@media screen and (max-width: 220px) {
  .septic-tank {
    display: none;
  }
}