@media screen and (max-width: 75rem) {
  .benefit {
    transition: 0.5s;
    width: calc(100% - 1.25rem);
  }
}

@media screen and (max-width: 48rem) {
  header.header ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .header ul li a.active {
    pointer-events: none;
    color: gray;
  }

  .section-intro h1 {
    font-size: 2.25rem;
  }

  .section-intro p {
    font-size: 1rem;
  }

  .benefit {
    width: calc(100% - 1.25rem);
  }
}

@media screen and (max-width: 30rem) {
  .section-intro h1 {
    font-size: 1.75rem;
  }

  .section-intro p {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 18.75rem) {
  section .carrosel {
    display: none;
  }
}


@media screen and (max-width: 25rem) {
  .footer-menu {
    display: none;
  }

  div p span.hide {
    display: none;
  }

  .modal_item p {
    margin-bottom: 2.5rem;
  }

}

@media only screen and (max-width: 68.75rem) {
  .logo img {
    width: 2.5rem;
    height: 2.5rem;
  }


  .logo h1 {
    font-size: 1.25rem;
  }

  .menu {
    flex-direction: column;
  }

  .menu-item {
    margin-right: 0;
    margin-bottom: 0.625rem;
    background-color: black;
  }

}

@media (max-width: 750px) {
  .modal_item {
    width: 100%;
    max-height: 70vh;
    overflow: auto;
  }

  .hide_img {
    display: none;
  }


}